# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Ambiente
.env

# Build
dist/
build/

# Sistema de arquivos
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Outros
coverage/
*.tgz
